In [2]:
n, m = [int(i) for i in input().split()]
a = [[int(j) for j in input().split()] for i in range(n)]
best_i, best_j = 0, 0
curr_max = a[0][0]
for i in range(n):
  for j in range(m):
    if a[i][j] > curr_max:
      curr_max = a[i][j]
      best_i, best_j = i, j
print(best_i, best_j)

3 4
0 3 2 4
2 3 5 5
5 1 2 3
1 2

In [3]:
n = int(input())
a = [['.'] * n for i in range(n)]
for i in range(n):
  a[i][i] = '*'
  a[n // 2][i] = '*'
  a[i][n // 2] = '*'
  a[i][n - i - 1] = '*'
for row in a:
  print(' '.join(row))

5
* . * . *
. * * * .
* * * * *
. * * * .
* . * . *

In [4]:
n, m = [int(i) for i in input().split()]
a = []
for i in range(n):
  a.append([])
  for j in range(m):
    if (i + j) % 2 == 0:
      a[i].append('.')
    else:
      a[i].append('*')
for row in a:
  print(' '.join(row))

3 4
. * . *
* . * .
. * . *

In [5]:
n = int(input())
a = [[abs(i - j) for j in range(n)] for i in range(n)]
for row in a:
  print(' '.join([str(i) for i in row]))

5
0 1 2 3 4
1 0 1 2 3
2 1 0 1 2
3 2 1 0 1
4 3 2 1 0

In [6]:
n = int(input())
a = [[0] * n for i in range(n)]
for i in range(n):
  a[i][n - i - 1] = 1
for i in range(n):
  for j in range(n - i, n):
    a[i][j] = 2
for row in a:
  for elem in row:
    print(elem, end=' ')
  print()

4
0 0 0 1
0 0 1 2
0 1 2 2
1 2 2 2

In [7]:
def swap_columns(a, i, j):
  for k in range(len(a)):
    a[k][i], a[k][j] = a[k][j], a[k][i]

n, m = [int(i) for i in input().split()]
a = [[int(j) for j in input().split()] for i in range(n)]
i, j = [int(i) for i in input().split()]
swap_columns(a, i, j)
print('\n'.join([' '.join([str(i) for i in row]) for row in a]))

3 4
11 12 13 14
21 22 23 24
31 32 33 34
0 1
12 11 13 14
22 21 23 24
32 31 33 34

In [8]:
m, n = [int(k) for k in input().split()]
A = [[int(k) for k in input().split()] for i in range(m)]
c = int(input())

for i in range(m):
  for j in range(n):
    A[i][j] *= c

print('\n'.join([' '.join([str(k) for k in row]) for row in A]))

3 4
11 12 13 14
21 22 23 24
31 32 33 34
2
22 24 26 28
42 44 46 48
62 64 66 68

In [9]:
m, n, r = [int(k) for k in input().split()]
A = [[int(k) for k in input().split()] for i in range(m)]
B = [[int(k) for k in input().split()] for j in range(n)]
C = [[0]*r for i in range(m)]
for i in range(m):
  for k in range(r):
    for j in range(n):
      C[i][k] += A[i][j] * B[j][k]

print('\n'.join([' '.join([str(k) for k in row]) for row in C]))

3 4 2
0 1 2 3
4 5 6 7
8 9 10 11
2 3
0 4
5 -1
1 1
13 5
45 33
77 61